/* Style sheet for the maze of the game.*/

div.header_panel
{
    text-align: center;
    font-size: 30px;
    background-color: #4CA1E4;
    box-shadow: 10px 10px 5px #888888;
    color:white;

}

div.game_panel
{
    width: 90%;
    height: 500px;
}

div.main_panel
{
    margin-left: 50px;
    margin-top: 25px;
}

div.main_panel table.game_maze
{
	border-right-color: #000000;
	border-right-width: 2px;
	
	border-top-color: #000000;
	border-top-width: 2px;
	
	border-spacing: 0;
	padding: 0;
	
	width: 100%;
	height: 400px;
}

div.main_panel table.game_maze td
{
	border-left-color: #000000;
	border-left-width: 2px;
	
	border-bottom-color: #000000;
	border-bottom-width: 2px;
}



/* styles for statics should come before movables */

.empty_space
{
/*
	background-image: url("../images/empty_space.jpg");
*/
	background-color: #FFFFF0;
}

.destination
{
	background-image: url("../images/destination.png");
    background-color: yellow;
}

.immovable
{
	background-size : 10% 10%;
	//background-image: url("../images/immovable.jpg") ;
	background-color:#A9A9A9;
}

.brick
{
    background-size: 100% 100%;
	background-image: url("../images/brick.png");
}

.greenery
{
    background-size: 100% 100%;
	//background-image: url("../images/green.png");

	background-color:#FFF9E6;
}

.brick_mover
{
	background-size: 100% 130%;
	background-image: url("../images/mario.png");
}
.destination.brick
{
    background-size: 100% 100%;
    background-image: url("../images/brick_on_dest.png");
}
.header-table
{
    width:100%;
    text-align:right;

}
.game-header
{
    text-align:left;
}
.level-header
{
    width:50px;
    background-color: #A9A9A9;
    border-radius:25px;
    text-align: center;
    border: 2px solid;
}
div.levelChooser
{
    position: absolute;
    top: 10%;
    left: -95%;
    height: 80%;
    width: 100%;
    opacity: 1;
}

div.modalWindow
{
    display: none;
    position: fixed;
    z-index:10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    background-color: rgba(199,199,199,0.5);
}

div.modalDialog
{
    position: absolute;
    top: 25%;
    left: 20%;
    width: 50%;
    height: 30%;
    opacity: 1 !important;
    background-color: #A9A9A9;
    box-shadow: 10px 10px 5px #888888;
    border-radius:25px;
}

div.modalDialog h4.level_completion
{
    text-align: center;
}

div.side_panel
{
    float: right;
}

div.side_panel div.level_buttons,
div.side_panel div.move_buttons
{
    margin: 5px 5px;
}

h1, h2, h3, h4, h5, h6
{
    margin: 10px 0;
}

body
{
    background-color: #fff9e6;
}

button.soko_button
{
    min-width: 100px;
    height: 35px;
    margin: 10px 10px;
    font-size: 1.3rem;
}

button.menu_button
{
    width: 60px;
    height: 30px;
    position: absolute;
    top: 11%;
    z-index: 5;
}
button.menu_prevNextbutton
{
    width: 60px;
    height: 30px;

}

table.score_panel td
{
    min-width: 140px;
    padding-left: 10px;
}

table.side_panel
{
    margin-top: 50px;
}

table.side_panel td
{
    min-width: 130px;
}

button.button_popup
{
    width: 120px;
    height: 80px;
    margin: 20px 20px;
    font-size: 1.5rem;
    text-align: center;
}

div.levelChooser table.outer_table
{
    height: 100%;
    width: 100%;
    background-color:  #A9A9A9;
    z-index: 1;

}

div.levelChooser table.outer_table td.col2
{
    text-align: center;
    z-index:5
}

div.levelChooser table.outer_table td.col3
{
    text-align: right;
}

div.levelChooser table.inner_table
{
    height: 100%;
    width: 100%;
    background-color: #FFF9E6;
    box-shadow: 10px 10px 5px #888888;
}

tr.rowh_75
{
    height: 75%;
}

tr.rowh_15
{
    height: 15%;
}

tr.rowh_16
{
    height: 16%;
}

tr.rowh_10
{
    height: 10%;
}

tr.rowh_5
{
    height: 5%;
}

td.colw_16
{
    width: 10%;


}
td.colw_15
{
    width: 15%;
}
td.colw_5
{
    width: 5%;
}
.menulevelActive
{
     background-color: #4CA1E4 ;
     border-radius:25px;
     text-align: center;
     color:white;
     font-size: 2.5rem;
     cursor:pointer;
     font-weight:bold;
}
.menulevelInActive
{
     background-color: grey ;
     border-radius:25px;
     text-align: center;
     color:white;
}

table.leader_panel
{
    height: 120px;
}

div.leader_board
{
    height: 100px;
    background-color: inherit;
}

ul.leaders
{
    list-style-type: none;
    padding: 0;
    margin: 0;
}

ul.leaders li
{
    background-color: #4CA1E4;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-color: grey;
    border-radius: 7px;
    width: 300px;
    height: 30px;
}

ul.leaders li span.leader_text
{
    padding-left: 15px;
    color: #ffffff;
}