/* Style sheet for the maze of the game.*/

div.main_panel table.game_maze
{
	border-right-color: #000000;
	border-right-width: 2px;
	
	border-top-color: #000000;
	border-top-width: 2px;
	
	border-spacing: 0;
	padding: 0;
	
	width: 400px;
	height: 400px;
}

div.main_panel table.game_maze td
{
	border-left-color: #000000;
	border-left-width: 2px;
	
	border-bottom-color: #000000;
	border-bottom-width: 2px;	
}



/* styles for statics should come before movables */
div.main_panel td.empty_space
{
	background-image: url("../images/empty_space.jpg");
}

div.main_panel td.destination
{
	background-image: url("../images/destination.pn");
}

div.main_panel td.immovable
{
	background-image: url("../images/immovable.jpg") ;
}


div.main_panel td.brick
{
	background-image: url("../images/brick.jpg");
}

div.main_panel td.brick_mover
{
	background-image: url("../images/brick_mover.png");
}
div.levelChooser
{
    position: absolute;
    top: 10%;
    left: -95%;
    height: 80%;
    width: 100%;
    opacity: 0.9;
}
