/* Style sheet for the maze of the game.*/

div.main_panel table.game_maze
{
	border-right-color: #000000;
	border-right-width: 2px;
	
	border-top-color: #000000;
	border-top-width: 2px;
	
	border-spacing: 0;
	padding: 0;
	
	width: 95%;
	height: 400px;
}

div.main_panel table.game_maze td
{
	border-left-color: #000000;
	border-left-width: 2px;
	
	border-bottom-color: #000000;
	border-bottom-width: 2px;
}



/* styles for statics should come before movables */

div.main_panel td.empty_space
{
	background-image: url("../images/empty_space.jpg");
}

div.main_panel td.destination
{
	background-image: url("../images/destination.png");
}

div.main_panel td.immovable
{
	background-image: url("../images/immovable.jpg") ;
}

div.main_panel td.brick
{
    background-size: 100% 100%;
	background-image: url("../images/brick.png");
}

div.main_panel td.greenery
{
    background-size: 100% 100%;
	background-image: url("../images/green.png");
}

div.main_panel td.brick_mover
{
	background-size: 100% 130%;
	background-image: url("../images/mario.gif");
}

div.main_panel td.destination.brick
{
    background-size: 100% 100%;
    background-image: url("../images/brick_on_dest.png");
}

div.levelChooser
{
    position: absolute;
    top: 10%;
    left: -95%;
    height: 80%;
    width: 100%;
    opacity: 0.9;
}

div.modalWindow
{
    display: none;
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity:2; /* transparency */
    -webkit-transition: opacity 500ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
}

div.modalDialog
{
    position: fixed;
    top: 25%;
    left: 20%;
    width: 50%;
    height: 50%;
    opacity: 0.9;
    background-color: #feffb4;

}

h1, h2, h3, h4, h5, h6
{
    margin: 10px 0;
}


body
{
    background-color: #fff9e6;
}

button.soko_button
{
    min-width: 150px;
    height: 35px;
    margin: 10px 10px;
    font-size: 1.3rem;
}

button.menu_button
{
    width: 60px;
    height: 30px;
    position: absolute;
    top: 11%;
    z-index: 5;
}

